extends ../layout.pug

block stylesheets
	link(rel='stylesheet' href='/frontend/css/films/filmslist.css')

block content
	
	if category
		.bread-crumbs Films - by category: #{category}
	if categories
		div(id='categories-list-wrapper' class='hide-list')
			ul(id='categories-list' )
				each category in categories
					li(class='category-list-item' data-category-id= category.id data-category-name= category.name)= category.name
	
	if films
		ul#film-list
			each film in films
				li.film-item-wrapper
					div.film-item
						img(src= film.poster_image class="poster-thumbnail")
						h2.film-title= film.title 
							span.film-year  (#{film.year})
						span.film-categories= film.categories
						p.film-description #{film.description ? film.description.substring(0, 110) + '...' : 'No description' }
	else 
		p no films

	.load-more-area
		div(id="load-more-button" data-offset= offset ) Load More

	#filters-wrapper
		h3(id='filter-by' data-filter-by-category='0' data-filter-by-year='0') Filter by:
		if categories 
			div(class='filter-row' id='categories-row')
				#category-label Category: 
					span#selected-category None
			
			
	
block scripts
	script(src='https://unpkg.com/axios/dist/axios.min.js')
	script(src='/frontend/js/films/filmslist.js')