extends ../layout.pug

block stylesheets
	link(rel='stylesheet' href='/frontend/css/films/filmslist.css')

block content
	if category
		.bread-crumbs Films - by category: #{category}
	if films
		ul#film-list
			each film in films
				li.film-item-wrapper
					div.film-item
						img(src= film.poster_image class="poster-thumbnail")
						h2.film-title= film.title 
							span.film-year  (#{film.year})
						span.film-categories= film.categories
						p.film-description #{film.description ? film.description.substring(0, 110) + '...' : 'No description' }
	else 
		p no films

	.load-more-area
		div(id="load-more-button" data-offset= offset ) Load More

	.filters-wrapper
	h3 Filters
	if categories 
		.categories-filter
			label Category: 
			select(name='category_filter' id='category-filter')
				option(value='0') none
				each category in categories
					option(value= category.id)= category.name
		
	button(type='button' id="filter-films-button" ) Apply Filter
	
block scripts
	script(src='https://unpkg.com/axios/dist/axios.min.js')
	script(src='/frontend/js/films/filmslist.js')